<div class="parent-flex">
    <div class="title-box-flex">
        <div class="title-flex">
<h1> Stations </h1>
</div>
<div class="utility-flex">
<h4>Search by Station</h4>
    <%=form_tag(stations_path, method: :get) do%>
    <%=text_field_tag(:search, params[:search])%>  
    <%=submit_tag ("Search"), name: "nil"%>
<%end%>
 </div>
 </div>

<div class="station-main-flex">
<% @stations.each do |station| %>
    <div class="sub-flex">
        <div class="content-flex">
    <h5><%= link_to station.name, station %></h5>
   

    <%if station.trains.length > 0 %>
        <h6>Lines: <ul><% station.trains.each do |train|%></h6>
            <li><%= train.name%></li>
        <%end %></ul>
    <%else %>
        This station is out of service.
    <%end %>
    

    <%= form_for @fav do |f|%>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%=f.hidden_field :station_id, :value => station.id %>
    <%= f.submit %>
    <%end%>
    </div>
    </div>
<%end %>

 </div>
 </div>