<h1><%=@user.user_name.capitalize%>'s Favorites</h1>

<%@favorites.each do |favorite|%>
    <div class="container p-3 my-3 border">
    Station:<%=favorite.station.name%><br> <%= %>
        <%if favorite.station.trains.length > 0%>
            Train Lines:<ul><%favorite.station.trains.each do |train| %>
                <li>Line: <%=train.name%> <br>
                Destination: <%=train.destination%>  <br> Status: <%=train.status%> <br>
                    <ul><%train.sort_timetable.each do |arrival|%>
                        <li><%=arrival.arrival_time%>:00</li>
                    <%end%></ul>
                </li>
            <%end%></ul>
        <%else%>
            <p><%= "This station is not in use"%></p>
        <%end%>
    <%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<%end%>

<%= button_to "Add a Favorite", new_favorite_path, method: :get %>




