<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>RealTrainUpdate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <div class="parent-flex" >
    <div>
      <nav class="navbar navbar-inverse" style=>
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/welcome">MTA Updater</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/trains">Lines Status</a></li>
            <li><a href="/stations">Stations</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if session[:user_id] %>
              <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
            <%else %>
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <%end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  
    <%= yield %>
  </body>
</html>
